{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container mx-auto p-4">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Panel 1: User Details -->
      <div class="bg-white rounded-lg shadow-md p-4">
        <div id="form-wrapper">
          <h2 class="text-xl font-semibold mb-4">User Details</h2>
          <form id="form">
            {% csrf_token %}
            <div id="user-info" class="hidden">
              <div class="mb-4">
                  <input required class="w-full p-2 border rounded" type="text" name="name" placeholder="Name.." value="{{request.user.username}}">
              </div>
              <div class="mb-4">
                  <input required class="w-full p-2 border rounded" type="email" name="email" placeholder="Email.." value="{{request.user.email}}">
              </div>
            </div>
      
              <div class="mt-4" id="shipping-info">
                  <hr class="my-2">
                  <p class="font-semibold">Shipping Information:</p>
                  <hr class="my-2">
                  <input class="w-full p-2 border rounded" type="text" name="address" placeholder="Address..">
                  <input class="w-full p-2 border rounded" type="text" name="city" placeholder="City..">
                  <input class="w-full p-2 border rounded" type="text" name="state" placeholder="State..">
                  <input class="w-full p-2 border rounded" type="text" name="zipcode" placeholder="Zip code..">
                  <input class="w-full p-2 border rounded" type="text" name="country" placeholder="Country..">
              </div>
      
              <hr class="my-4">
              <input id="form-button" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded w-full" type="submit" value="Continue">
            </form>
        </div>
        
          <div class="box-element hidden" id="payment-info">
            <p class="font-semibold">Payment Information:</p>
            <button id="make-payment">Make payment</button>
        </div>
    </div>
    
      <!-- Panel 2: Order Summary -->
      <div class="container mx-auto p-4">
        <h1 class="text-2xl font-semibold mb-4">Order Summary</h1>
        <div class="bg-white rounded-lg shadow-md p-4">

          <!-- Back to Shopping button -->
           <div class="mb-4">
             <a href="{% url 'store'%}" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 mb-4">&#x2190;Continue Shopping</a>
           </div>
        
            <!-- Product-->
            <!-- Product 1 -->
            {% for item in items %}
            <div class="flex items-center justify-between mb-4">
              <div class="flex items-center space-x-4">
                <img src="{{item.product.imageURL}}" alt="Product 1" class="w-16 h-16 rounded-md">
            
                <div style="flex:1">
                  <p class="font-semibold">{{item.product.name}}</p>
                  <p class="text-gray-600">Price: ${{item.product.price|floatformat:2}}</p>
                  <p class="text-gray-600">Total: ${{item.get_total|floatformat:2}}</p>
                </div>
            
            
              </div>
              <div>
                <p class="quantity mb-4">{{item.quantity}}</p>
              </div>
            </div>
            {% endfor %}
  
            <!-- Item -->
            <div class="flex justify-between">
              <p class="font-semibold">Items:</p>
              <p class="font-semibold">{{order.get_cart_items}}</p>
          </div>
  
            <!-- Total -->
            <div class="flex justify-between">
                <p class="font-semibold">Total:</p>
                <p class="font-semibold">${{order.get_cart_total|floatformat:2}}</p>
            </div>
  </div>
</div>

<script type="text/javascript">
  var shipping = '{{order.shipping}}'
  var total= '{{order.get_cart_total|floatformat:2}}'
  if(shipping == 'False'){
    document.getElementById('shipping-info').innerHTML= ''
  }
  // hiding the user input field start
  var user = "{{request.user.username}}";
  
  if(user != 'AnonymousUser'){
    document.getElementById('user-info').classList.remove("hidden");
    
  }
 
  if(shipping == 'False' && user != 'AnonymousUser'){
    //Hide entire form if user is logged in and shipping is false
    document.getElementById('form-wrapper').classList.add("hidden");
    //show payment if logged in user wants to buy an item that does not require shipping
    document.getElementById('payment-info').classList.add("hidden");
  }
  // hiding the user input field end
  var form = document.getElementById("form")
  csrftoken = form.getElementsByTagName("input")[0].value
  console.log("Newtoken:", form.getElementsByTagName("input")[0].value)

  var form = document.getElementById('form')
  form.addEventListener('submit', function(e){
    e.preventDefault()
    console.log('Form Submitted...')
    document.getElementById('form-button').classList.add("hidden");
    document.getElementById('payment-info').classList.remove("hidden");
  })

  document.getElementById('make-payment').addEventListener('click', function(e){
    submitFormData()
  })
  
  function submitFormData(){
    console.log('Payment button clicked')

    var userFormData= {
      'name': null,
      'email': null,
      'total':total,
    } 

    var shippingInfo= {
      'address':null,
      'city':null,
      'state':null,
      'zipcode':null,
    }
    if(shipping != 'False'){
      shippingInfo.address = form.address.value
      shippingInfo.city = form.city.value
      shippingInfo.state = form.state.value
      shippingInfo.zipcode = form.zipcode.value
    }

    if(user == 'AnonymousUser'){
      userFormData.name = form.name.value;
      userFormData.email = form.email.value;

    }


    var url = '/process_order/'
    fetch(url, {
      method: 'POST',
      headers:{
        'Content-Type':'application/json',
        'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo})
    })
    .then((response)=> response.json())
    .then((data)=>{
      console.log('Success:', data );
      alert('Transaction completed');

      cart= {}
      document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
      window.location.href= "{% url 'store' %}"
    })
}





</script>

{% endblock content %}
